@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Accounts</h1>
<center><a class="btn btn-primary" asp-action="AddAccount">Add Account</a></center>
<br />

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Address</th>
        <th>Birthdate</th>
        <th>Contact Number</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    @foreach (var Account in Model)
    {
        <tr>
            <td>@Account.AcctId</td>
            <td>@Account.FirstName @Account.LastName</td>
            <td>@Account.Email</td>
            <td>@Account.Username</td>
            <td>@Account.Birthdate</td>
            <td>@Account.Contact Number</td>
            <td>
                <center><a class="btn btn-primary" asp-action="ShowDetails" asp-route-id="@Account.AcctId">Show Details</a></center>
            </td>
            <td>
                <center><a class="btn btn-primary" asp-action="EditAccount" asp-route-id="@Account.AcctId">Edit</a></center>
            </td>
            <td>
                <center><a class="btn btn-danger" asp-action="EditInstructor" asp-route-id="@Account.AcctId">Delete</a></center>
            </td>
        </tr>
    }
</table>
