@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Products</h1>
<center><a class="btn btn-primary" asp-action="AddProduct">Add Product</a></center>
<br />



<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/@product.ProdImageURL" class="img-thumbnail" />
                <div class="card-body">
                    <h3 class="card-title">@product.ProdName</h3>
                    <p class="card-text">@product.ProdDesc</p>
                    <h2>@product.ProdTags</h2>
                    <h2>@product.ProdQuantity</h2>
                    <h2>@product.ProdPrice</h2>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-primary" asp-action="ShowDetails" asp-route-id="@product.ProdId">Show Details</a>
                            <a class="btn btn-primary" asp-action="EditProduct" asp-route-id="@product.ProdId">Edit</a>
                            <a class="btn btn-danger" asp-action="DeleteProduct" asp-route-id="@product.ProdId">Delete</a>
                        </div>
                        <small class="text-muted">@product.Seller</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
       
            
            



            

