@{
   
    var userName = Context.Session.GetString("UserName");
   }

@model Product ;

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/ProdShowDetails.css">


@if (!User.Identity.IsAuthenticated || @userName == Model.Seller)
{
    <h1>This is your Product</h1>
}

<div class="d-flex justify-content-center ">
    <div class="left_card card shadow-lg">
        <div class="image_container">
        <img src="~/@Model.ProdImageURL" />
        </div>
        <div class= "card-body name_prod">
            <p class="card-text title_item">@Model.ProdName</p>
        </div>
    </div>
    <div class="card right_card shadow-lg">
        <div class=" tag_container card-header">
            <h5>Product Details</h5>
        </div>
        <div class="card-body desc_container">
            <h6 class="card-subtitle mb-2 text-muted">Tag: @Model.ProdTags</h6>
            <h6 class="card-subtitle mb-2 text-muted"><i style="font-size:18px" class="fa">&#xf0d6;</i> PHP @Model.ProdPrice</h6>
            <h6 class="card-subtitle mb-2 text-muted">Seller: @Model.Seller</h6>
            <p class="card-text"> @Model.ProdDesc </p>
        </div>
        <div class="card-footer button_container justify-content-between">
            @if (!User.Identity.IsAuthenticated || @userName != Model.Seller)
    {
        <a asp-action="Checkout" asp-controller="Product" value="Checkout" class="btn">Proceed to Checkout</a>
    }
    <button class="btn" type="button" onclick="history.back()">
                @if (User.Identity.IsAuthenticated && @userName == Model.Seller)
        {
            <span>Back</span>
        }
        else
        {
            <span>Cancel Checkout</span>
        }
    </button>
        </div>
    </div>
</div>

