@model TechMarket.Models.Purchases

<style>
    body {
        margin-left: 220px;
        background-color: #f8f9fa;
        color: #343a40;
    }

    h1 {
        color: #007bff;
        font-weight: bolder;
        margin-left: 20px;
    }

    .product-container {
        margin: 20px;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .details-container {
        display: flex;
        justify-content: space-between;
    }

    .details {
        width: 48%; /* 48% width for each column with a small gap in between */
    }

        .details dl {
            margin: 0;
        }

        .details dt {
            font-weight: bold;
            color: #007bff;
            margin-bottom: 5px;
        }

        .details dd {
            margin-bottom: 15px;
        }

    .product-image {
        max-width: 200px;
        max-height: 200px;
        float: left;
        margin-right: 20px;
    }

    .btn-back {
        margin-left: 20px;
        margin-top: 20px;
        clear: both;
    }
</style>

<h1>Purchased Product Details</h1>

@if (Model != null)
{
    <div class="product-container row">
        <div class="details-container">
            <div class="details">
                <dl>
                    <dt>Product Image:</dt>
                    <dd>
                        @if (!string.IsNullOrEmpty(Model.ProductImageURL))
                        {
                            <img src="~/@Model.ProductImageURL" alt="Product Image" style="max-width: 200px; max-height: 200px;" />
                        }
                        else
                        {
                            <span>No Image Available</span>
                        }
                    </dd>

                    <dt>Product Name:</dt>
                    <dd>@Model.ProductName</dd>

                    <dt>Description:</dt>
                    <dd>@Model.ProductDescription</dd>
                </dl>
            </div>

            <div class="details">
                <dl>
                    <dt>Price:</dt>
                    <dd>@Model.ProductPrice</dd>

                    <dt>Purchase Date:</dt>
                    <dd>@Model.PurchaseDate</dd>

                    <dt>Seller:</dt>
                    <dd>
                        <a asp-controller="Product" asp-action="SellerInformation" asp-route-sellerId="@Model.SellerId">
                            @Model.Seller
                        </a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <a asp-action="Purchases" class="btn btn-primary btn-back">Back to Purchases</a>
}
else
{
    <p>No details available for the selected purchased product.</p>
}
