@model TechMarket.Models.ToShipProduct
<style>
    body {
        margin-left: 220px;
        background-color: #f8f9fa;
        color: #343a40;
    }

    h1 {
        color: #007bff;
        font-weight: bolder;
        margin-left: 20px;
    }

    .product-container {
        margin: 20px;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .product-image {
        max-width: 400px;
        max-height: 400px;
        float: left;
        margin-right: 20px;
    }

    .product-details,
    .buyer-details {
        float: left;
        width: calc(50% - 20px); /* 50% width with 20px spacing between columns */
    }

        .product-details dl,
        .buyer-details dl {
            margin: 0;
        }

        .product-details dt,
        .buyer-details dt {
            font-weight: bold;
            color: #007bff;
            margin-bottom: 5px;
        }

        .product-details dd,
        .buyer-details dd {
            margin-bottom: 15px;
        }

    .btn-back {
        margin-left: 20px;
        margin-top: 20px;
        clear: both;
    }
</style>

<h1>Products To Ship</h1>

@if (Model != null)
{
    <div class="product-container row">
        @if (!string.IsNullOrEmpty(Model.ProductImageURL))
        {
            <img class="product-image col-sm" src="~/@Model.ProductImageURL" alt="Product Image" />
        }
        else
        {
            <span>No Image Available</span>
        }

        <div class="product-details col-sm">
            <dl>
                <dt>Product Name:</dt>
                <dd class="name">@Model.ProductName</dd>

                <dt>Description:</dt>
                <dd>@Model.ProductDescription</dd>

                <dt>Price:</dt>
                <dd>@Model.ProductPrice</dd>

                <dt>Purchase Date:</dt>
                <dd>@Model.PurchaseDate</dd>
            </dl>
        </div>

        <div class="buyer-details col-sm">
            <dl>
                <dt>Buyer Name:</dt>
                <dd>@Model.BuyerName</dd>

                <dt>Address:</dt>
                <dd>@Model.BuyerAddress</dd>

                <dt>Buyer Email:</dt>
                <dd>@Model.BuyerEmail</dd>

                <dt>Buyer Contact:</dt>
                <dd>@Model.BuyerContact</dd>
            </dl>
        </div>
    </div>

    <a asp-action="ToShip" class="btn btn-primary btn-back">Back</a>
}
else
{
    <p>No details available for the selected purchased product.</p>
}
